* {
    line-height: 1.5;
    background-color: #99FF99;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.title,
.backhome {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

img {
    height: 400px; 
    width: 400px;
    overflow: hidden;
    border-radius: 5%;
}

table {
    width: 100%;
    table-layout: fixed;
}

.rowone {
    height: 100px;
    vertical-align: bottom;
}

.rowtwo {
    height: 160px;
}

td {
    text-align: center;
}

#lasagna,
#chicken,
#cookie {
    height: 100px; 
    width: auto;
}

#lasagna:hover,
#chicken:hover,
#cookie:hover {
    height: 150px;
}

.indexrecipe {
    font-size: 20px;
}